//@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=block");

@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("../../assets/DejaVuSansMono-webfont.woff") format("woff");
}

@font-face {
  font-family: "Adobe Blank";
  src: url("../../assets/AdobeBlank.otf.woff") format("woff");
  font-display: block;
}

$dejaVuSansMono: "DejaVu Sans Mono", monospace;
$openSans: "Open Sans", sans-serif;
$consolas: Consolas;
